<section class="information">
    <div class="image-footer container-fluid">
        <img src="../../../assets/img/image-footer.png" alt="">
    </div>
    <div class="inputs">
        <div class="margen">
            <h1 class="text-uppercase text-center text-white">subscribe</h1>
            <h2 class="text-center">to our newsletter</h2>
            <p class="text-center text-white mb-8">Lorem ipsum, consequatur veniam aut incidunt <br> dolore qui sequi nesciunt qui eligendi</p>
        </div>
        <div class="responsive">
            <input type="text" class="inputs" placeholder="NAME">
        <input type="text" class="inputs" placeholder="EMAIL">
        <textarea class="inputs" rows="5" placeholder="MESSAGE"></textarea>
        <button class="button text-center text-uppercase mt-3">send message</button>
        </div>
    </div>
</section>