<!-- Navbar-->
<nav class="navbar navbar-expand-lg" style="background-color: black;">
    <div class="container-fluid justify-content-between">
        <!-- Left elements -->
        <div class="d-flex">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../../../assets/img/logo.png" height="80" alt="Logo"/>
            </a>
        </div>

        <!-- Center elements -->
        <ul class="header navbar-nav flex-row d-none d-md-flex">

            <li class="home nav-item me-5 me-lg-8" style="padding: 0 35px;">
                <a class="nav-link" href="#">HOME</a>
            </li>

            <li class="nav-item me-5 me-lg-8" style="padding: 0 35px;">
                <a class="nav-link" href="#">ABOUT</a>
            </li>

            <li class="nav-item me-5 me-lg-8" style="padding: 0 35px;">
                <a class="nav-link" href="#">COURSES</a>
            </li>

            <li class="nav-item me-5 me-lg-8" style="padding: 0 35px;">
                <a class="nav-link" href="#">BLOG</a>
            </li>
        </ul>
        <!-- Center elements -->
    
        <!-- Right elements -->
        <button type="button" class="button">
            SING IN
        </button>
        <ul class="navbar-nav flex-row">
            <a class="navbar-brand me-4 d-flex align-items-center" href="#">
                <img src="../../../assets/icons/menu-icon.png" width="50" height="45" alt="Logo"/>
            </a>
        </ul>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->