.header li a{
    color: white;
    font-weight: bold;
}
.header li a:hover {
    opacity: 0.8;
}

.home a {
    border-bottom: 1px solid #fff;
}

.button {
    color: black;
    background-color: white;
    padding: 0 20PX;
    font-size: 15px;
    font-weight: bold;
}
.button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
