<section class="pb-4">
    <div class="rounded-5">
        <section class="p-5 w-80">
            <div class="lightbox" id="lightbox" data-id="lightbox-49pahcvk0">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="../../../assets/img/landing_1_parallax.png" alt="Table Full of Spices" class="w-100">
                    </div>
                    <div class="col-lg-4">
                        <img src="../../../assets/img/landing_2_parallax.png" alt="Winter Landscape" class="w-100">
                    </div>
                    <div class="col-lg-4">
                        <img src="../../../assets/img/landing_3_parallax.png" alt="View of the City in the Mountains" class="w-100">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<div class="container-fluid parallax bg-image bg-image-2">
</div>

<section>
    <div>
        <img src="../../../assets/img/landing_1.png" class="landing" alt="">
    </div>
    <div>
        <section class="block-4">
            <div class="img_left_bloque_3">
              <img src="./img/abstract-line3.png" class="img-fluid" alt="">
            </div>
            <div class="container">
              <div class="card-container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 mb-5">
                        <div class="cards" style="border: 3px solid #fff; padding: 25px;">
                            <div style="margin: -28px; margin-bottom: 27px;">
                                <img src="../../../assets/icons/course_1.png" alt="''">
                            </div>
                            <h1 class="text-uppercase text-white">Course <span>01</span></h1>
                            <h5 class="text-center">______</h5>
                            <p class="text-white text-center">Lorem ipsum dolor sit amet. In dolores dignissimos 
                                et earum blanditiis et omnis voluptatibus sit necessitatibu.
                            </p>
                            <button class="text-uppercase btn-read">read more</button>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3 mb-5">
                        <div class="cards" style="border: 3px solid #fff; padding: 25px;">
                            <div style="margin: -28px; margin-bottom: 27px;">
                                <img src="../../../assets/icons/course_2.png" alt="''">
                            </div>
                            <h1 class="text-uppercase text-white">Course <span>02</span></h1>
                            <h5 class="text-center">______</h5>
                            <p class="text-white text-center">Lorem ipsum dolor sit amet. In dolores dignissimos 
                                et earum blanditiis et omnis voluptatibus sit necessitatibu.
                            </p>
                            <button class="text-uppercase btn-read">read more</button>
                        </div>
                    </div>
        
                    <div class="col-sm-4 col-md-3 mb-5">
                        <div class="cards" style="border: 3px solid #fff; padding: 25px;">
                            <div style="margin: -28px; margin-bottom: 27px;">
                                <img src="../../../assets/icons/course_3.png" alt="''">
                            </div>
                            <h1 class="text-uppercase text-white">Course <span>03</span></h1>
                            <h5 class="text-center">______</h5>
                            <p class="text-white text-center">Lorem ipsum dolor sit amet. In dolores dignissimos 
                                et earum blanditiis et omnis voluptatibus sit necessitatibu.
                            </p>
                            <button class="text-uppercase btn-read">read more</button>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3 mb-5">
                        <div class="cards" style="border: 3px solid #fff; padding: 25px;">
                            <div style="margin: -28px; margin-bottom: 27px;">
                                <img src="../../../assets/icons/course_4.png" alt="''">
                            </div>
                            <h1 class="text-uppercase text-white">Course <span>04</span></h1>
                            <h5 class="text-center">______</h5>
                            <p class="text-white text-center">Lorem ipsum dolor sit amet. In dolores dignissimos 
                                et earum blanditiis et omnis voluptatibus sit necessitatibu.
                            </p>
                            <button class="text-uppercase btn-read">read more</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div>
                <h3 class="text-center text-white">More courses <img src="../../../assets/icons/flecha_1.png" style="padding: 10px;" width="80" alt=""></h3>
            </div>
        </section>
    </div>
</section>
