<div class="container-fluid parallax bg-image bg-image-3">
</div>



<!-- cards -->

<section id="services" class="py-5">
  <div class="container">
    <div class="row">
      <h1 style="font-size: 110px;" class="mb-0 text-uppercase fw-bold text-white text text-center">what</h1>
      <h2 style="color: #976ECE; font-size: 50px;" class="text-center fw-normal mb-5">Users think.</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

      <div class="col mb-3">
        <div style="background-color: transparent;" class="card my-2 mx-auto py-2 wow animate__bounceInUp">
          <div  style="padding: 15px 60px;" class="card-body text-center">
              <img src="../../../assets/img/card_1.png" alt="">
              <h5 class="card-title mb-2 fw-bold text-uppercase">Laura smith</h5>
              <img src="../../../assets/icons/icon_starts.png" alt="">
              <p class="text-white"> <img src="../../../assets/icons/icon_comillas_1.png" alt=""> Lorem ipsum dolor sit amet consectetur. Lorem ipsum sit amet. 
                  quibusdam accusantium vero iure, natus earum voluptatem, ipsa. <img src="../../../assets/icons/icon_comillas_2.png" alt="">
              </p>
          </div>
        </div>
      </div>

      <div class="col mb-3">
          <div style="background-color: transparent;" class="card my-2 mx-auto py-2 wow animate__bounceInUp">
                <div style="padding: 15px 60px;" class="card-body text-center">
                  <img src="../../../assets/img/card_2.png" alt="">
                  <h5 style="font-weight: bold;" class="card-title mb-2  text-uppercase fw-bold">Jhon smith</h5>
                  <img src="../../../assets/icons/icon_starts.png" alt="">
                  <p class="text-white"> <img src="../../../assets/icons/icon_comillas_1.png" alt=""> Lorem ipsum dolor sit amet consectetur. Lorem ipsum sit amet. 
                      quibusdam accusantium vero iure, natus earum voluptatem, ipsa. <img src="../../../assets/icons/icon_comillas_2.png" alt="">
                  </p>
              </div>
          </div>
      </div>

      <div class="col mb-3">
          <div style="background-color: transparent;" class="card my-2 mx-auto py-2 wow animate__bounceInUp">
              <div  style="padding: 15px 60px;" class="card-body text-center">
                  <img src="../../../assets/img/card_3.png" alt="">
                  <h5  style="font-weight: bold;" class="card-title mb-2  text-uppercase fw-bold">Sara smith</h5>
                  <img src="../../../assets/icons/icon_starts.png" alt="">
                  <p class="text-white"> <img src="../../../assets/icons/icon_comillas_1.png" alt=""> Lorem ipsum dolor sit amet consectetur. Lorem ipsum sit amet. 
                      quibusdam accusantium vero iure, natus earum voluptatem, ipsa. <img src="../../../assets/icons/icon_comillas_2.png" alt="">
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-center"><img src="../../../assets/icons/flecha_2.png" width="80" alt=""><span style="padding: 80px;"></span> <img src="../../../assets/icons/flecha_1.png" width="80" alt=""></h1>
  </div>
</section>